## Set Properties

In [6]:
set1 = {2,5.6,89}
print(type(set1))

<class 'set'>

In [7]:
set2 = set()
print(type(set2))

<class 'set'>

In [8]:
set2 = {12,34,56.2,'python',True} # set is mutable, unorder nature,uniqueness(not allow duplicates)
print(set2)

{True, 34, 'python', 56.2, 12}

## Functions

In [9]:
set2 = {20,20,67,45,99,10,45}
print(len(set2))
print(min(set2))
print(max(set2))
print(sum(set2))
print(sum(set2)/len(set2))

5
10
99
241
48.2

### Methods

In [16]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

#### Add

In [10]:
set1 = {15,56,'suji',67}
set1.add(45)
print(set1)

{67, 45, 15, 56, 'suji'}

In [15]:
set1 ={"suji@gmail.com",'jkyogi@gmail.com'}
res1 = len(set1)
email = input("enter a email id: ")
set1.add(email)
#print(set1)
res2 = len(set1)
if (res1!=res2):
    print("email created successfully:")
else:
    print(email,"email already exists, try again")

suji@gmail.com email already exists, try again

#### UPDATE

In [19]:
set1 = {15,56,'suji',67}
set1.update(['Abhi',False])
print(set1)

{False, 'Abhi', 67, 15, 56, 'suji'}

In [21]:
set1 = {15,56,'suji',67}
set1.update([34,56])
print(set1)

{34, 67, 15, 56, 'suji'}

#### COPY

In [22]:
set1 = {15,56,'suji',67}
set2 = set1.copy()
print(set2)

{56, 67, 'suji', 15}

#### POP

In [25]:
# pop is used to remove any one element from set 
set1 = {15,56,'suji',67}
set2 = set1.pop()
print(set1)
print(set2)

{67, 'suji', 15}
56

#### DISCARD

In [26]:
set1 = {15,56,'suji',67}
set1.discard(67)
print(set1)

{56, 'suji', 15}

In [27]:
set1 = {15,56,'suji',67}
set1.discard(45) # if the entered element not in the set it won't rise any error
print(set1)

{56, 67, 'suji', 15}

### REMOVE

In [28]:
set1 = {15,56,'suji',67}
set1.remove(67)
print(set1)

{56, 'suji', 15}

In [30]:
set1 = {15,56,'suji',67}
set1.remove(45) # if the entered element not in the set it rise any error
print(set1)

KeyError: 45

### CLEAR

In [32]:
set1 = {15,56,'suji',67}
set1.clear() # clear removes all element from the set
print(set1)

set()

#### UNION

In [33]:
set1 = {15,56,'suji',67,10,20}
set2 = {10,'c++',20,1000}
set1.union(set2) # combine the two sets

{10, 1000, 15, 20, 56, 67, 'c++', 'suji'}

#### INTERSECTION

In [34]:

set1 = {15,56,'suji',67,10,20}
set2 = {10,'c++',20,1000}
set1.intersection(set2) # it gives common elements from both the sets

{10, 20}

#### Difference

In [35]:
set1 = {15,56,'suji',67,10,20}
set2 = {10,'c++',20,1000}
set1.difference(set2) # it gives uncommon elements from set1

{15, 56, 67, 'suji'}

In [37]:
set1 = {15,56,'suji',67,10,20}
set2 = {10,'c++',20,1000}
set2.difference(set1) # it gives uncommon elements from set2

{1000, 'c++'}

#### Symmetric_difference

In [38]:

set1 = {15,56,'suji',67,10,20}
set2 = {10,'c++',20,1000}
print(set1.symmetric_difference(set2)) #it gives uncommon elements from set1 & set2

{67, 1000, 15, 'c++', 56, 'suji'}

#### Difference_update

In [54]:
set1 = {15,56,'suji',67,10,20}
set2 = {10,'c++',20,1000}
set2.difference_update(set1) # it gives uncommon elements from set2, remove common elements from set2
print(set2)

{'c++', 1000}

In [53]:
set3 = {15,56,'suji',67,10,20}
set4 = {10,'c++',20,1000}
set3.difference_update(set4)# it gives uncommon elements from set3, remove common elements from set3
print(set3)

{67, 56, 'suji', 15}

#### Symmetric_difference_update

In [51]:
set3 = {15,56,'suji',67,10,20}
set4 = {10,'c++',20,1000}
set3.symmetric_difference_update(set4)
print(set3)

{67, 'c++', 56, 1000, 'suji', 15}

In [52]:
set3 = {15,56,'suji',67,10,20}
set4 = {10,'c++',20,1000}
set4.symmetric_difference_update(set3)
print(set4)

{67, 1000, 15, 'c++', 56, 'suji'}

#### Intersection_update

In [55]:
set3 = {15,56,'suji',67,10,20}
set4 = {10,'c++',20,1000}
set3.intersection_update(set4)
print(set3)

{10, 20}

#### Isdisjoint

In [56]:
set3 = {15,56,'suji',67,10,20}
set4 = {10,'c++',20,1000}
set4.isdisjoint(set3)# if there is any common elements in the both the sets, result is False

False

In [63]:
set3 = {15,56,'suji',67,}
set4 = {10,'c++',20,1000}
set4.isdisjoint(set3)# if there is no common elements in the both the sets, result is True

True

#### Issubset

In [58]:
set3 = {10,20,1000}
set4 = {10,'c++',20,1000}
set4.issubset(set3) # all elements from set4 is subset of set3

False

In [59]:
set3 = {10,20,1000}
set4 = {10,'c++',20,1000}
set3.issubset(set4) # all elements from set3 is subset of set4

True

#### Issuperset

In [60]:
# It is opposite to issubset
set3 = {10,20,1000}
set4 = {10,'c++',20,1000}
set3.issuperset(set4)

False

In [62]:
set3 = {10,20,1000}
set4 = {10,'c++',20,1000}
set4.issuperset(set3)

True